
.messages_component_container{
    display: grid;
    grid-template-columns: 1;
    grid-row: 1fr 1fr;
    align-items: center;
    width: 60vw;
    height: 86.2vh;
   
    margin: auto;

}
.messages_component{
    grid-row: 1;
    display: grid;
    width: 59vw;
    padding: 1vh;
    
    align-items: flex-start;
    height: 75.5vh;
    border-radius: 8px;
    overflow: auto;
    
}

.my_message_container{ 
    display: flex;
    justify-content: flex-end;
}

.subject_message_container{
    justify-content: flex-start;
    display: flex;
}

.message_input_container{
    grid-row: 2;
    grid-column: 1/2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    margin: auto;
}


.message_input_box{
    width: 55.8vw;

}