.container{
    display: grid;
    width: 100vw;
    height: 100vh;
    align-items: center;
    row-gap: 8vh;
    grid-template-rows: 1fr 300fr 10fr 1fr;
    grid-template-columns: 1fr 50fr 1fr;
}
.component{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    grid-row: 2;
    justify-content: space-around;
    border-radius: 8px;
    width: 65vw;
    height: 70vh;
    margin: auto;
    overflow-y: scroll;

    grid-column: 2;
}

.subjectMessageContainer{
    grid-row: 2;
    display: grid;
    width: 60vw;
    row-gap: 0.5vh;
    grid-template-rows: 1fr 1fr 1fr ;
    grid-template-columns: 1fr 50fr 50fr 1fr;
}
.myMessageContentContainer{
    border-radius: 8px;
    grid-column: 4;
    text-align: right;
    width: 25vw;
    margin: auto;
    border: 2px solid lightgray;
}

.subjectMessageContentContainer{
    border-radius: 8px;
    grid-column: 2;
    text-align: left;
    width: 25vw;
    margin: auto;
    border: 2px solid gray;
}
.messageInputContainer{
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: 50fr 1fr 1fr;
    align-items: center;
    grid-row: 3;
    grid-column: 2;
    border-radius: 8px;
    width: 65vw;
    margin: auto;
}
.button{
    grid-column: 2;
}
.input{
    width: 98.3%;
    grid-column: 1;
}
.navBar{
    grid-row: 1;
    grid-column: 1/4;
}
