.profile_container{
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1;
    overflow-x: hidden;
    align-items: center;
    height: 75vh;
    width:17.5vw;
}
.profile_background_image_container{
    grid-row: 1;

}
.profile_persona_container{
    grid-row: 2;
    display:grid;
    padding-left: 5%;
}
.profile_info_container{
    grid-row: 3;
    height: 28.5vh;
    overflow-y: scroll;
}
.profile_buttons_container{
    grid-row: 4;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 1vh;
    margin: auto;
}
.profile_edit_info_buttons{
    display: flex;
    justify-content: space-around;
}
.profile_edit_info{
    grid-row: 3;
    overflow-y: scroll;
    margin: auto;
    width: 17vw;
    height: 35vh;
}


