.profile_container{
    display: block;
    height: auto;
    width:auto;
    
}

.profile_image{
    display: inline;
    margin: 0 auto;
    margin-left: -25%;
    height: 100%;
    width: auto;
}
.profile_background_image_container{
    width: 13vw;
    height: 13vw;
    position: relative;
    margin: auto;
    overflow: hidden;
    border-radius: 50%;
}
.profile_identifier_container{
    overflow-x: hidden;
    line-height: .5vh;
    margin: auto;
    text-align: center;
}
.profile_info_container{
    width: 15vw;
    margin: auto;
    overflow: auto;
    margin-bottom: 10%;
    margin-top: 10%;
}
.profile_buttons_container{
    grid-row: 4;
    display: grid;
    
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    row-gap: 1vh;
    margin: auto;
}
.profile_edit_info_buttons{
    display: flex;
    justify-content: space-around;
    
}
.profile_edit_info{
    grid-row: 3;
    overflow-y: auto;
    margin: auto;
    
    height: 35vh;
    width: 15vw;
    margin: auto;
    overflow-y: auto;
}


