.my_message_box_container{
    display: grid;

    
    text-align: right;
    overflow-x: auto;
    border-radius: 8px;
    background-color: #edebe9;

}
.subject_message_box_container{
    display: flex;
    justify-content: space-around;
    align-content: flex-start;
    line-break:auto;
    overflow-x: auto;
    border-radius: 8px;
    
    padding: 1vh;
    background-color: #d2d0ce;

    height: auto;
}
