.my_message_box_container{
    display: grid;
    line-break:auto;
    text-align: right;
    overflow-x: auto;
    border-radius: 8px;
    background-color: #edebe9;
    padding: 1vh;
}
.subject_message_box_container{
    display: grid;
    line-break:auto;
    text-align: left;
    overflow-x: auto;
    border-radius: 8px;
    background-color: #d2d0ce;
    padding: 1vh;
}
