.profile_component_container{
    display: grid;
    row-gap: 1vh;
    width: 81%;
    border-radius: 8px;
    margin-top: .27%;
    margin-bottom: .15%;
    margin-left: .3%;
    height: 100%;
}
.profile_background_image_container{
    overflow: hidden;
    display: grid;
    align-content: center;
    
    height: 450px;
    border-radius: 8px;
}
.profile_background_image_style{
    width: 100%;
}
.profile_persona_container{
    margin: auto;
    padding-bottom: 2vh;
}
.profile_action_bar_container{    
    display: grid;
    background-color: white;
    border-radius: 8px;
    padding: 1vh;
}
.profile_action_bar_buttons_container{
    margin: auto;
    display: flex;
    justify-content: space-between;
    width: 65%;
    
}