
.home_settings_pannel_container{
    grid-column: 2;
    grid-row: 4;
    height: 24.25vh;
    width:17.5vw;
}
.home_topic_control_bar_container{
    grid-row: 1;
    margin:auto;
    width: 60vw;
    height: auto;
}
.home_timeline_container{
    grid-row: 3;
    margin:auto;

    width: 60vw;
    height: 87vh;
    overflow-y: auto;
}
