.nav-container{
    display: flex;
    justify-content: space-between;
    
   
    background: lightgray;
    color: black;

}
.nav-links{
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-content: center;
    list-style: none;
}