.nav_container{
    display: flex;
    justify-content: space-between;
    margin: auto;
    padding-right: 8vw;
    padding-left: 8vw;
    align-items: center;
    background: lightgray;
    color: black;

}
.nav_links{
    
    display: inline-block;
    
}