.profile_bar_container{
    display: grid;
    justify-content: center;
    align-content: space-between;
    overflow: hidden;   
    row-gap: 3vh;
    grid-template-rows: 10% 13% 1fr ;
    min-height: 100%;
    width: 85%;
    margin: auto;
    
}

.profile_qrcode_container{
    
    margin: auto;
 
}
.profile_info_container{
    grid-row: 1;
    display: grid;
    padding: 10px;
    justify-content: center;
    justify-items: center;
    text-align: center;
    font-weight: 600;
}

.profile_bar_buttons_container{
    grid-row:3 ;
    display: block;
    
}
.profile_bar_buttons{
    display: flex;
    margin-bottom: 3vh;
    align-items: center;
}
