.Container {
    background-color: lightgray;
    border: lightgray;
    border-radius: 8px;
    margin: left ;
    
    position:static;
    width:30%;
}
.ContainerContent{
    display: flex;
    align-items: center;
}