.center_component{
    width: 50%;
    height: 5vh;
    left: 25%;
    right: 25%;
    position: fixed;
    text-align: center;
    top: 1vh;
}
.left_components{
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    bottom: 0vh;
    left: 0vw;
    position: fixed;
    
    margin: auto;
    height: 100%;
    overflow-y: hidden;
    width: 18%;
}

.right_components{
    border-top-left-radius:8px;
    border-bottom-left-radius: 8px;
    bottom: 0vh;
    right: 0vw;
    margin: auto;
    position: fixed;
    
    height: 100%;
    overflow-y: hidden;
    width: 18%;
}