
.center_component {
    margin: auto;
    width: 45%;

}

.left_components {

    position: fixed;
    bottom: 0;
    left: 0;
    background-color: #303741;
    box-shadow: 0 5px 5px #23282e;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    height: 100%;
    width: 14%;
    overflow: hidden;
}

.right_components {
    position: fixed;
    bottom: 0;
    right: 0;

    background-color: #303741;
    box-shadow: 0 5px 5px #23282e;

    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;


    height: 100%;
    width: 14%;

    overflow: hidden;
}

.modal_container {
    display: grid;
    row-gap: 2vh;
    grid-template-rows: 1fr 1fr 100fr 1fr;
    justify-content: center;
    margin: auto;
    align-content: center;
    width: 450px;
    height: 450px;
    padding: 3vh;
}

.modal_title_component {
    grid-row: 1;
    text-align: center;
}

.modal_top_component {
    grid-row: 2;
    width: 500px;

    margin: auto;
}

.modal_middle_component {
    grid-row: 3;
    width: 200px;
    margin: auto;
}

.modal_bottom_component {
    grid-row: 4;
    width: 350px;
    margin: auto;
}