
.messages_component_container{
    display: block;
}
.messages_component{
    
    display: grid;
    width: auto;
    padding: 1%;
    /* margin-top: 3%; */
    align-items: flex-start;
    padding-bottom: 8vh;
    border-radius: 8px;
    overflow: auto;

}
.my_message_container{ 
    display: flex;
    justify-content: flex-end;
}

.subject_message_container{
    justify-content: flex-start;
    display: flex;
}

.message_input_container{
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
    border-radius: 8px;
    
    bottom: -.1px;
}

.message_input_buttons{
    display: grid;
 
}
.message_input_box{
    width:100%;
}