.timeline_component_container{
    display: block;
    overflow-y: auto;
}

.topic_container{
    margin: auto;
    background-color: #3b424c;
    border-radius: 8px;
    padding-bottom: 2vh;
    
    margin-top: 2vh;
    padding-top: 2vh;
    width: 90%;
}
.topic_fields_container{
    width: 75%;
    margin: auto;
    display: grid;
    row-gap: 1vh;
    text-align: center;
    margin-bottom: 1vh;
    margin-top: 1vh;
}
.topic_creator_persona_container{
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .8vw;
    border-radius: 8px;
    background-color:#3b424c;
    margin: auto;
}
.topic_image_container{
    max-width: 75%;

    margin: auto;
    display: flex;
    place-content: center;
    padding-bottom: 3vh;

}

.topic_buttons_container{
    margin: auto;
    display: flex;
    
    justify-content: center;
    
}
.timeline_end_container{
    background-color: #3b424c;
    border-radius: 8px;
    text-align: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
}



.topic_creation_container{
    background-color: #3b424c;
    border-radius: 8px;
    display: block;
    box-sizing: border-box;
    margin-bottom: 1vh;
    padding-top: 2vh;
    padding-bottom: 2vh;
}
.topic_creation_fields{
    width: 75%;
    display: grid;
    row-gap: 1vh;
    margin: auto;
    padding-bottom: 1vh;
}
.topic_creation_top_buttons{
    
    width: 75%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    padding-bottom: 3vh;
}
.topic_creation_bottom_buttons{
    width: 75%;
    margin: auto;
    display: flex;
    
    place-content: center;
}
.topic_creation_title{
    padding-bottom: 1vh;
    text-align: center;
}